
        body {
            padding: 0;
            margin: 0;
        }
<<<<<<< HEAD
        section#main-content {
            margin: 0 15px;
            padding: 0;
        }
        .hidden {
            display: none;
        }
        .beschreibung {
            font-style: italic;
            color: darkgray;
            margin-top: 2px;
            margin-bottom: 15px;
	    }
        .arbeit-wrapper {
            border: 2px solid #270847;
            padding: 10px;
            margin: 15px 0;
            background-color: rgba(255, 255, 255, 0.05);
            border-radius: 8px;
        }
=======
        .hidden {
            display: none;
        }
>>>>>>> upload-function
        h2#title {
            color: grey;
            padding: 10px;
            margin: 0;
        }
        h2#login {
            padding: 0;
            margin: 0;
        }
        h2#login a {
            float: right;
            color: grey;
            text-decoration: none;
            padding: 10px;
            margin: 0;
        }
        h2#login a:hover {
            color: rgb(79, 78, 78);
        }
        div.container {
            text-align: center;
            background-color: rgba(17, 79, 17, 0.884);
            padding: 0;
            margin: 0;
        }
        ul#main {
            padding: 0;
            margin: 0;
        }
        ul#main li {
            display: inline-block;
            text-align: center;
            padding: 15px;
            margin: 0;
        }
        ul#main li a {
            color: rgb(96, 186, 156);
            text-align: center;
            padding: 15px;
        }
        ul#main li a:hover {
            color: aqua;
        }