
        body {
            font-family: 'Open Sans', sans-serif;
            background: #f7f7f7;
            color: #333;
            line-height: 1.6;
        }
        h1 {
            color: #333;
        }
        section#main-content {
            margin: 0 auto;
            padding: 20px;
            background: white;
            border-radius: 12px;
            box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        }
        div#logo-schrift {
            display: flex;
        }
        img#lmg-bild {
            margin: 0;
            padding: 0;
            display: block;
            width: 100%;
            height: auto;
            background: white;
            border-radius: 12px;
            box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        }
        img#logo {
            padding: 10px;
            margin: 0;
            width: fit-content;
            height: fit-content;
        }
        button {
            background-color: #0044cc;
            color: white;
            padding: 10px 20px;
            border-radius: 6px;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #002a80;
        }
        .hidden {
            display: none;
        }
        .beschreibung {
            font-style: italic;
            color: darkgray;
            margin-top: 2px;
            margin-bottom: 15px;
	    }
        .arbeit-wrapper {
            border: 2px solid #270847;
            padding: 10px;
            margin: 15px 0;
            background-color: rgba(255, 255, 255, 0.05);
            border-radius: 8px;
        }
        h1#title {
            color: grey;
            padding: 10px;
            margin: 0;
        }
        div.container {
            text-align: center;
            background-color: rgba(17, 79, 17, 0.884);
            padding: 0;
            margin: 0;
        }